@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    margin-left: 77px;
    margin-top: 40px;
}

header p {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

.container{
    width: calc(100% - 77px);
    margin: 0 auto;
}
.container .content{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.container .content .content-image{
    width: 50%;
}
.container .content .content-image img{
    width: calc(100% - 118px);
}
.container .content .content-text{
    width: 50%;
}    

.container .content .content-text h4{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 64px;
    line-height: 94px;
    padding: 0;
    margin: 0 0 36px 0;
}

.container .content .content-text p{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #4F4F4F;
    width: 381px;
    padding: 0;
    margin: 0 0 64px 0;
} 

.container .content .content-text a{
    padding: 24px 44px;
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background: #333333;
    text-decoration: none;
}

footer{
    width: 100%;
    padding-bottom: 24px;
}

footer p,a{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

@media (max-width: 768px) {
    header{
        margin-top: 20px;
        margin-left: 24px;
    }
    .container{
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .container .content{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container .content .content-image{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .container .content .content-text{
        width: 100%;
        margin: 0 auto;
    }
}